@page "/EntregaRapida"

@inject IRepositorio  repositorio
@inject OrdenEstado ordenEstado
@inject NavigationManager NavigationManager
@inject IJSRuntime js

<h3>Entrega Rápida</h3>
<div class="mt-3" style="margin-right:250px;">
    <div class="row mt-2">
        <ListadoGenerico Listado="entregaRapida">
            <HayRegistros Context="productoMercado">
                <ProductoMercadoIndividual ProductoMercado="productoMercado" OnConfirm="@(()=>ordenEstado.MostrarDetalleProdMerDialog(productoMercado))" />
            </HayRegistros>
        </ListadoGenerico>
    </div>
</div>

<div id="sidebar-wrapper">
    @if (Orden.Detalles.Any())
    {
        <div class="order-contents">
            <h2>Tu Orden</h2>

            @foreach (var detalle in Orden.Detalles)
            {
                <ProductoMercadoItem Detalle="detalle" OnRemoved="@(()=>RemoverDetalle(detalle))" />
            }
        </div>
    }
    else
    {
        <div class="empty-cart">Selecciona un producto<br>para empezar</div>
    }

    <div class="order-total @(Orden.Detalles.Any() ? "" : "hidden")">
        Total:
        <span class="total-price d-block">@Orden.GetFormattedTotalPrice()</span>
        <a href="checkout" class="@(Orden.Detalles.Count == 0 ? "btn btn-warning disabled" : "btn btn-warning")">
            Order >
        </a>
    </div>

</div>

<TemplatedDialog Show="ordenEstado.ShowingConfigureDialog">
    <ConfigDetalleProdMerDialog Detalle="ordenEstado.DetalleProdMercado"
                                OnCancel="ordenEstado.CancelarDetalleProdMercado"
                                OnConfirm="ordenEstado.ConfirmarDetalleProdMercado" />
</TemplatedDialog>

@code {

    Orden Orden => ordenEstado.Orden;

    private List<ProductoMercado> entregaRapida;

    protected async override Task OnInitializedAsync()
    {

        Console.WriteLine(Orden.Detalles.Any());

        var httpResponse = await repositorio.Get<HomePageDTO>("api/Usuarios/listaproductospersonalizada/true/false");

        if (httpResponse.Error)
        {
            Console.WriteLine(httpResponse.HttpResponseMessage.StatusCode);
        }
        else
        {
            entregaRapida = httpResponse.Response.ProductosMercadoEnvioRapido;
        }
    }

    async Task RemoverDetalle(Detalle detalle)
    {
        if (await js.Confirm($"Remover {detalle.Productomercado.Producto.Titulo} de tu orden?"))
        {
            ordenEstado.RemoverDetalle(detalle);
        }
    }

}
