<div style="margin-right: 2%; margin-bottom: 10px; text-align: center;">
    <a href="@urlProducto">
        <img src="@Producto.Poster" alt="Poster" style="width: 225px; height:300px;" />
    </a>
    <p style="max-width: 225px; height: 44px; font-size: 15px; font-weight: bold;"><a href="@urlProducto">@Producto.TituloCortado</a></p>
    <div>
        <AuthorizeView Roles="admin">
            <Authorized>
                <a class="btn btn-info" href="productos/editar/@Producto.Id">Editar</a>
                <button type="button" class="btn btn-danger"
                        @onclick="@(() => EliminarProducto.InvokeAsync(Producto))">
                    Borrar
                </button>
            </Authorized>
        </AuthorizeView>
    </div>
</div>

@code {
    [Parameter] public Producto Producto { get; set; }
    [Parameter] public bool MostrarBotones { get; set; } = false;
    [Parameter] public EventCallback<Producto> EliminarProducto { get; set; }
    private string urlProducto = string.Empty;

    protected override void OnInitialized()
    {
        urlProducto = $"producto/{Producto?.Id}/{Producto?.Titulo?.Replace(" ", "-")}";
    }
}