@page "/producto/{ProductoId:int}"
@page "/producto/{ProductoId:int}/{NombreProducto}"
@inject IRepositorio repositorio
@inject NavigationManager navigationManager
@inject IMostrarMensajes mostrarMensajes

@if (model == null)
{
    <text>Cargando...</text>
}
else
{
    <h2>@model.Producto.Titulo (@model.Producto.Lanzamiento.Value.ToString("yyyy"))</h2>
    for (int i = 0; i < model.Categorias.Count; i++)
    {
        if (i < model.Categorias.Count - 1)
        {
            @enlaceCategoria(model.Categorias[i])<text>, </text>
        }
        else
        {
            @enlaceCategoria(model.Categorias[i])
        }
    }
    <text> | </text> <span>@model.Producto.Lanzamiento.Value.ToString("dd MMM yyyy")</span>
    <text> | Promedio: </text> @model.PromedioVotos.ToString("0.#") <text>/5 | Tu voto: </text>
    <Rating MaximoPuntaje="5" PuntajeSeleccionado="model.VotoUsuario" OnVote="OnVote" />
    <div style="display: flex;">
        <span style="display: inline-block; margin-right: 5px;">
        <img src="@model.Producto.Poster" style="width: 125px; height: 215px" />
        </span>
    </div>
    <div style="margin-top: 10px;">
        <h3>Resumen</h3>
        <div>
            <MostrarMarkdown ContenidoMarkdown="@model.Producto.Resumen"></MostrarMarkdown>
        </div>
    </div>
    <div style="margin-top: 10px;">
        <h3>Mercados</h3>
        <div style="display: flex; flex-direction: column">
            @foreach (var mercado in model.Mercados)
            {
                <div style="margin-bottom: 2px;">
                    <img style="width: 50px;" src="@mercado.Foto" />
                    <span style="display:inline-block;width: 200px;"><a href="/mercado/@mercado.Id/@mercado.Nombre.Replace(" ", "-")">@mercado.Nombre</a></span>
                    <span style="display:inline-block; width: 45px;">...</span>
                    <span>@mercado.Duenio</span>
                </div>
            }
        </div>
    </div>
}

@code {
    [Parameter] public int ProductoId { get; set; }
    [Parameter] public string NombreProducto { get; set; }
    private ProductoVisualizarDTO model;
    private RenderFragment<Categoria> enlaceCategoria = (categoria) =>@<a href="productos/buscar?categoriaid=@categoria.Id">@categoria.Nombre</a>;

    private async Task OnVote(int votoSeleccionado)
    {
        model.VotoUsuario = votoSeleccionado;
        var votoProducto = new VotoProducto() { Voto = votoSeleccionado, ProductoId = ProductoId };
        var responseHttp = await repositorio.Post("api/votos", votoProducto);
         if (responseHttp.Error)
        {
            await mostrarMensajes.MostrarMensajeError("Su voto no ha sido recibido");
        }
        else
        {
            await mostrarMensajes.MostrarMensajeExitoso("Su voto ha sido recibido");
        }
    }

    protected async override Task OnInitializedAsync()
    {
        var responseHttp = await repositorio.Get<ProductoVisualizarDTO>($"api/productos/{ProductoId}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("");
            }
            else
            {
                var mensajeError = await responseHttp.GetBody();
                await mostrarMensajes.MostrarMensajeError(mensajeError);
            }
        }
        else
        {
            model = responseHttp.Response;
        }
    }
}
