@page "/usuarios"
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes


<div class="row">
    <div class="col-xl-12">
        <div class="ms-panel">
            <div class="ms-panel-header">
                <h6>Indice de Mercados autorizados</h6>
                <div class="form-group mt-3">
                    <a class="btn btn-success" href="mercados/crear">Agregar Mercado</a>
                </div>
            </div>
            <div class="ms-panel-body">

                <Paginacion PaginaActual="paginaActual" PaginaSeleccionada="paginaSeleccionada"
                            PaginasTotales="paginasTotales"></Paginacion>

                <div class="table-responsive">
                    <ListadoGenerico Listado="Usuarios">
                        <HayRegistrosCompleto>
                            <table class="table table-hover thead-primary">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Correo</th>
                                        <th scope="col">Rol</th>
                                        <th scope="col">Editar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Usuarios)
                                    {
                                        <tr>
                                            <th scope="row">@item.</th>
                                            <td>@item.Nombre</td>
                                            <td>
                                                <a href='mercados/editar/@item.Id'><i class='fas fa-pencil-alt text-secondary'></i></a>
                                                <a @onclick="@(() => BorrarMercado(item))"><i class='far fa-trash-alt ms-text-danger'></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </HayRegistrosCompleto>
                    </ListadoGenerico>
                </div>
            </div>
        </div>
    </div>
</div>

<ListadoGenerico Listado="Usuarios">
    <HayRegistrosCompleto>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Usuario</th>
                    @*<th>Id</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in Usuarios)
                {
                    <tr>
                        <td>
                            <a href="/usuarios/editar/@usuario.UserId" class="btn btn-success">Editar</a>
                        </td>
                        <td>
                            @usuario.Email
                        </td>
                        @*<td>
                            @usuario.UserId
                            </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </HayRegistrosCompleto>
</ListadoGenerico>

@code {
    List<UsuarioDTO> Usuarios;

    private int paginaActual = 1;
    private int paginasTotales;

    private async Task paginaSeleccionada(int pagina)
    {
        paginaActual = pagina;
        await Cargar(pagina);
    }

    protected override async Task OnInitializedAsync()
    {
        await Cargar();
    }

    private async Task Cargar(int pagina = 1)
    {
        var httpResponse = await repositorio.Get<List<UsuarioDTO>>($"api/usuarios?pagina={pagina}");

        if (httpResponse.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
        }
        else
        {
            paginasTotales = int.Parse(httpResponse.HttpResponseMessage.Headers.GetValues("totalPaginas").FirstOrDefault());
            Usuarios = httpResponse.Response;
        }
    }
}
