@page "/cliente/perfil"
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes


@if (Cliente == null)
{
    <text>Cargando...</text>
}
else
{
    <div class="ms-profile-overview">
        <div class="ms-profile-cover">
            <div class="ms-profile-user-info">
                <h1 class="ms-profile-username">@Cliente.UserName</h1>
                <AuthorizeView>
                    <Authorized>
                        <h2 class="ms-profile-role">Rol : @context.User.FindFirst(System.Security.Claims.ClaimTypes.Role).Value</h2>
                    </Authorized>
                </AuthorizeView>
            </div>
            @*<div class="ms-profile-user-buttons">
            <a href="#" class="btn btn-primary"> <i class="material-icons">person_add</i> Editar</a>
        </div>*@
        </div>
    </div>

    <div class="row">

        <div class="col-xl-6 col-md-12">
            <div class="ms-panel ms-panel-fh">
                <div class="ms-panel-body">
                    @*<ul class="ms-profile-stats">
                            <li>
                                <h3 class="ms-count">5790</h3>
                                <span>Followers</span>
                            </li>
                            <li>
                                <h3 class="ms-count">4.8</h3>
                                <span>User Rating</span>
                            </li>
                        </ul>*@
                    <h2 class="section-title">Información Básica</h2>
                    <table class="table ms-profile-information">
                        <tbody>
                            <tr>
                                <th scope="row">Nombre</th>
                                <td>@Cliente.UserName</td>
                            </tr>
                            <tr>
                                <th scope="row">DNI</th>
                                <td>@Cliente.DNI</td>
                            </tr>
                            <tr>
                                <th scope="row">email</th>
                                <td>@Cliente.Email</td>
                            </tr>
                            <tr>
                                <th scope="row">Número de celular</th>
                                <td>+51 @Cliente.PhoneNumber</td>
                            </tr>
                            <tr>
                                <th scope="row">Dirección</th>
                                <td>
                                    @Cliente.AddressName &nbsp;
                                  <a href="Usuario/Mapa" class="btn btn-primary"> <i class="material-icons">person_add</i> Cambiar dirección</a>
                                </td>
                            </tr>
                        <tr>
                            <th scope="row">CambiarDatos</th>
                            <td>                                
                            <a href="#" class="btn btn-primary disabled">Proximamente :D</a>
                        </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
}



@code {

    private ApplicationUser Cliente;

    protected override async Task OnInitializedAsync()
    {
        var httpResponse = await repositorio.Get<ApplicationUser>("api/usuarios/getCliente");
        if (httpResponse.Error)
        {
            await mostrarMensajes.MostrarMensajeError("Error al cargar los productos del mercado");
        }
        else
        {
            Cliente = httpResponse.Response;
        }
    }

}
